h1{
  text-align: center;
}

table{
  margin: auto;
}

td{
  width: 60px;
  height: 60px;
}

.right {
  border-right: 2px solid black;
}

.bottom{
  border-bottom: 2px solid black;
}

.left{
  border-left: 2px solid black;
}

.top{
  border-top: 2px solid black;
}
