h1{
	color: #b30000;
	/*border-color: purple;
	border-style: solid;
	border-width: 5px;
*/
	border: 5px solid green;
}

h4{
	color: rgb(0,200,100);
	background: rgb(255,100,80);
}

li{
	color: rgb(24,24,100, 0.5);
}

body{
	/*background: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1194,w_2119,x_0,y_70/f_auto,q_auto,w_1100/v1554738239/shape/mentalfloss/63484-istock-533859316.jpg);*/
	background: pink;
	background-repeat: no-repeat;
	background-size: cover;

}